@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
.html{
    box-sizing: border-box;
    text-decoration: none;
}
*, *::before, *::after{
    box-sizing: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
}
header{
    padding: 20px 10px;
    background-color: black;
}
main{
    font-size: 20px;
}
.dynamic-header{
    display: none;
    overflow: hidden;
}
.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-img{
    width: 120px;
    height: 120px;
}
.nav-link-text{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    color: white;
}
.header-active{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.img-flip{
    animation: 1s ease-in-out flip;
}
@keyframes flip{
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(2turn);
    }
}
.me-img{
    width: 300px;
    height: auto;
}
.about-info{
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
}
.main-info{
    margin-left: 80px;
}
.main-info p{
    font-size: 26px;
    font-family: 'Balsamiq Sans', cursive;
}
.my-skills{
    margin-top: 40px;
    margin-right: 100px;
}
.my-skills span{
    font-size: 22px;
}
.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    font-size: 26px;
}
.jiggly-img{
    width: 660px;
    height: 260px;
}

.jiggly-page {
    display: flex;
}
.jiggly-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.jiggly-info p{
    font-size: 26px;
    font-family: 'Balsamiq Sans', cursive;
}
.jiggly-info span{
    font-size: 22px;
}
.abilities{
    margin-top: 40px;
    font-size: 20px;
}